root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,h,hpp}]
indent_style = tab
indent_size = 4

[{CMakeLists.txt,*.cmake,*.yml,*.yaml,*.md,*.json}]
indent_style = space
indent_size = 4

[*.{sln,vcxproj,vcxproj.filters}]
end_of_line = crlf
